*{
    background-color: #333333;
}

#banner {
    margin: 0;
    padding: 0;
}

#banner-img {
    width: 913px;
    height: 142;
    margin: 0;
    padding: 0;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    background-color: #3333cc;
    width: 913px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul{
    margin: 0;
    padding: 0;
    background-color: transparent;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
    margin: 5px;
    padding: 5px 5px;
    list-style-type: none;
    text-align: center;
    background-color: transparent;
}

li > a:link, a:visited {
    margin: 0;
    padding: 10px 5px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: DejaVu Sans Mono, monospace;
}

li > a:hover, a:active {
    background-color: #99ccff;
    color: #3333cc;
}

#conteudo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 913px;
    height: 225px;
}

.img-media{
    width: 180px;
    margin: 10px;
}

#article {
    background-color: #DCDCDC;
    margin: 10px;
    width: 50%;
    height: 90%;
    display: flex;
}

#article-img {
    background-color: transparent;
    display: block;
    margin: auto;
}

#article-text {
    background-color: transparent;
    margin: 5px 0;
}

#article-text h1 {
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 4px;
}

#article-text h2 {
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    margin: 4px;
}
